<header class="header" id="header">
  {{#if @site.logo}}
    <div class="logo">
      {{^is "home"}}<a href="{{@site.url}}">{{/is}}
        <img src="{{@site.logo}}" alt="{{@site.title}}" width="48px" height="48px" />
      {{^is "home"}}</a>{{/is}}
    </div>
  {{/if}}

  {{^is "home"}}
    <h1><a href="{{@site.url}}">{{@site.title}}</a></h1>
  {{/is}}

  <button class="gh-search" data-ghost-search>{{> "icons/search"}}</button>
</header>